# Test

In [1]:
# import packages
import pandas as pd

In [2]:
# define locations
input_path = '../input/'

# define file name
customer_demographics_file_name = 'user_demographics_v1.csv'
customer_subcriptions_file_name = 'purchase_data_v1.csv'

# define files
customer_demographics_file = input_path + customer_demographics_file_name
customer_subcriptions_file = input_path + customer_subcriptions_file_name

In [3]:
# read in data
df_customer_demographics = pd.read_csv(customer_demographics_file)
df_customer_subcriptions = pd.read_csv(customer_subcriptions_file)

In [4]:
df_customer_demographics.shape

(10000, 6)

In [5]:
df_customer_demographics.head()

          uid              reg_date device gender country  age
0  54030035.0  2017-06-29T00:00:00Z    and      M     USA   19
1  72574201.0  2018-03-05T00:00:00Z    iOS      F     TUR   22
2  64187558.0  2016-02-07T00:00:00Z    iOS      M     USA   16
3  92513925.0  2017-05-25T00:00:00Z    and      M     BRA   41
4  99231338.0  2017-03-26T00:00:00Z    iOS      M     FRA   59

In [6]:
df_customer_subcriptions.shape

(9006, 4)

In [7]:
df_customer_subcriptions.head()

         date       uid            sku  price
0  2017-07-10  41195147  sku_three_499    499
1  2017-07-15  41195147  sku_three_499    499
2  2017-11-12  41195147   sku_four_599    599
3  2017-09-26  91591874    sku_two_299    299
4  2017-12-01  91591874   sku_four_599    599